* {
  margin: 0;
}
body {
  text-align: center;
  font-family: "Mukta", sans-serif;
  background: linear-gradient(#3e1f47, #144552);
  color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 1px 1px 1px black;
}

#bff-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #144552;
  margin-bottom: 10px;
}

#bday-age {
  background: #144552;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

#bday-date {
  margin: 0;
  background: #144552;
  padding: 5px 10px;
  border-radius: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

.gift-img {
  margin: 20px auto;
  max-width: 430px;
  height: 420px;
  border: 6px solid #597d7c;
  border-radius: 10px;
  background-image: url("images/gift-cover.jpg");
  background-size: cover;
}

#gift-img-happy {
  height: 200px;
}
#gift-img-happy:hover {
  background-image: url("images/happy.gif");
}

#gift-img-reaction:hover {
  background-image: url("images/reaction.gif");
}

#gift-img-bear:hover {
  background-image: url("images/bear.gif");
}

#gift-img-badass:hover {
  background-image: url("images/badass.gif");
}

#gift-img-cheers:hover {
  background-image: url("images/cheers.gif");
}

footer {
  font-style: italic;
  width: 400px;
  margin: 40px auto;
}

a {
  color: white;
}

@media (max-width: 500px) {
  main {
    width: 90%;
  }
  .gift-img {
    width: 300px;
    height: 300px;
  }
}
